.DrawingBoardContainer {
  border: 2px solid black;
  padding: 1rem;
}

.DrawingBoard {
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
}

.WrapperOfDrawingBoards {
  display: flex;
}

.WrapperOfDrawingBoards * {
  margin-top: 1rem;
  margin-right: 1rem;
}

.WrapperOfDrawingBoards :last-child {
  margin-right: 0;
}

.CanvasOption {
  border-radius: 0.3rem;
  background-color: lightgreen;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid darkgreen;
  color: darkgreen;
  font-weight: bolder;
}

.CanvasOptionsContainer {
  display: flex;
  justify-content: space-evenly;
}

.ColorPickerContainer {
  width: 25%;
}